[Desktop Entry]
Encoding=UTF-8
Name=Arctic
Comment=Arctic P2P Cryptocurrency
Comment[fr]=Arctic, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Arctic, eşten eşe kriptografik sanal para birimi
Exec=arcticcoin-qt %u
Terminal=false
Type=Application
Icon=arcticcoin128
MimeType=x-scheme-handler/arcticcoin;
Categories=Office;Finance;
